<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智领未来</title>
    <link rel="stylesheet" href="/static/css/index&business/main.css">
</head>
<body>
<div id="navigation">
    <div class="header">
        <p class="p1">
            <!--<img src="./images/guohui.png" alt="">-->
        </p>
        <p  class="p2"></p>
        <p  class="p3">智领未来——大学生发展的数据分析及可视化平台</p>
    </div>
    <div class="contain">
        <ul>
            <li>
                <a href="/first" target="_blank">
                    <img src="/static/image/index&business/pic-5.png" alt="">
                    <span>校园竞赛数据系统</span>
                </a>
            </li>
            <li>
                <a href="/city" target="_blank">
                    <img src="/static/image/index&business/pic-4.png" alt="">
                    <span>城市概况数据系统</span>
                </a>
            </li>
            <li>
                <a href="/business" target="_blank">
                    <img src="/static/image/index&business/xinyong.png" alt="">
                    <span>行业发展数据系统</span>
                </a>
            </li>
        </ul>
    </div>

</div>
</body>

</html>