<!doctype html>
<html>
<head>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

<title>竞赛数据可视化</title>
<link type="text/css" href="../../static/css/static/public.css" rel="stylesheet">
<link type="text/css" href="../../static/css/static/icon.css" rel="stylesheet">
<link type="text/css" href="../../static/css/static/index.css" rel="stylesheet">
<script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth /768*100 + 'px';
</script>

<script src="../../static/js/static/echarts.min.js"></script>
</head>


<body>
<div class="bg3">
    <div class="title">学院竞赛数据可视化</div>
    <div class="leftMain">
    	<div class="leftMain_top">
            <div class="div">数据导入</div>
        	<div class="leftMain_topIn">
            	<ul>
                	<li>
                        <div class="liIn">
                            <h3>2022年MathorCup 数学建模挑战赛</h3>
                            <p class="shu"><span class="shu1">省级 国家级 C类</span><i></i></p>
                            <div class="zi"><span class="span1">报名截至时间:2022.4.13 </span></div>
                            <div class="zi"><span class="span1">竞赛官网：<a href="http://www.mathorcup.org/">http://www.mathorcup.org/</a></span></div>
{#                            <span class="border_bg_leftTop"></span>#}
{#                            <span class="border_bg_rightTop"></span>#}
{#                            <span class="border_bg_leftBottom"></span>#}
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                	<li>
                        <div class="liIn">
                            <h3>2022年全国大学生英语竞赛</h3>
                            <p class="shu"><span class="shu2">省级 国家级 B类</span><i></i></p>
                            <div class="zi"><span class="span1"></span><span>报名截至时间：2022.4.15</span></div>
                            <div class="zi"><span class="span1"></span><span>竞赛官网：<a href="http://www.chinaneccs.cn/" target="_blank" class="redlink">http://www.chinaneccs.cn/</a></span></div>
{#                            <span class="border_bg_leftTop"></span>#}
{#                            <span class="border_bg_rightTop"></span>#}
{#                            <span class="border_bg_leftBottom"></span>#}
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                	<li>
                        <div class="liIn">
                            <h3>2022年计算机设计大赛</h3>
                            <p class="shu"><span class="shu3">省级 国家级 B类</span><i></i></p>
                            <div class="zi"><span class="span1"></span><span>报名截至时间：2022.6.30</span></div>
                            <div class="zi"><span class="span1"></span><span>竞赛官网：<a href="http://jsjds.ruc.edu.cn/">http://jsjds.ruc.edu.cn/</a></span></div>
{#                            <span class="border_bg_leftTop"></span>#}
{#                            <span class="border_bg_rightTop"></span>#}
{#                            <span class="border_bg_leftBottom"></span>#}
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                	<li>
                        <div class="liIn">
                            <h3>第六届全国大学生集成电路创新创业大赛</h3>
                            <p class="shu"><span class="shu4">省级 国家级 B类</span><i></i></p>
                            <div class="zi"><span class="span1">报名截止时间：2022.3.31</span></div>
                            <div class="zi"><span class="span1">竞赛官网：<a href="http://univ.ciciec.com/">http://univ.ciciec.com/</a></span></div>
{#                            <span class="border_bg_leftTop"></span>#}
{#                            <span class="border_bg_rightTop"></span>#}
{#                            <span class="border_bg_leftBottom"></span>#}
                            <span class="border_bg_rightBottom"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="leftMain_middle">
        	<div class="leftMain_middle_left">
            	<div class="leftMain_middle_leftIn">
                	<h3>热门竞赛Top8</h3>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div class="biaoge" style="width:100%; height:25vh" id="chartmain"></div>
                    <script type="text/javascript">
					//window.onload = function () {
								//指定图表的配置项和数据
								var dataAxis = ["{{ ctop8_name[0]}}","{{ ctop8_name[1]}}","{{ ctop8_name[2]}}","{{ ctop8_name[3]}}",
                                                "{{ ctop8_name[4]}}","{{ ctop8_name[5]}}","{{ ctop8_name[6]}}", "{{ ctop8_name[7]}}"];
								var data = [{{ ctop8_num[0] }}, {{ ctop8_num[1] }}, {{ ctop8_num[2] }}, {{ ctop8_num[3] }},
                                            {{ ctop8_num[4] }},{{ ctop8_num[5] }}, {{ ctop8_num[6] }}, {{ ctop8_num[7] }}];
								var yMax = 500;
								var dataShadow = [];

								for (var i = 0; i < data.length; i++) {
									dataShadow.push(yMax);
								}

								option = {
									title: {
										text: '',
										subtext: ''
									},
									grid:{
										x:40,
										y:40,
										x2:20,
										y2:20,

									},
									xAxis: {
										data: dataAxis,
										axisLabel: {
											/*inside: true,*/
											interval:0,
											textStyle: {
												color: '#fff',
												fontSize: 10

											}
										},
										axisTick: {
											show: false,
										},
										axisLine: {
											show: true,
											symbol:['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#fff',
											}
										},
										z: 10
									},
									yAxis: {
										type: 'value',
										name: '单位：人',
										axisLine: {
											show: true,
											symbol: ['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#fff',
											}
										},
										axisTick: {
											show: false
										},
										axisLabel: {
											textStyle: {
												color: '#fff',
												fontSize: 12
											}
										}
									},

									dataZoom: [
										{
											type: 'inside'
										}
									],
									series: [
										{ // For shadow
											type: 'bar',
											itemStyle: {
												color: 'rgba(0,0,0,0.05)'
											},
											barGap: '-100%',
											barCategoryGap: '40%',
											data: dataShadow,
											animation: false
										},
										{
											type: 'bar',
											itemStyle: {
												color: new echarts.graphic.LinearGradient(
													0, 0, 0, 1,
													[
														{offset: 0, color: '#0efdff'},
														{offset: 0.5, color: '#188df0'},
														{offset: 1, color: '#188df0'}
													]
												)
											},

											emphasis: {
												itemStyle: {
													color: new echarts.graphic.LinearGradient(
														0, 0, 0, 1,
														[
															{offset: 0, color: '#2378f7'},
															{offset: 0.7, color: '#2378f7'},
															{offset: 1, color: '#0efdff'}
														]
													)
												}
											},
											data: data
										}
									]
								};

								// Enable data zoom when user click bar.
								{#var zoomSize = 6;#}
								{#myChart.on('click', function (params) {#}
								{#	console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);#}
								{#	myChart.dispatchAction({#}
								{#		type: 'dataZoom',#}
								{#		startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],#}
								{#		endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]#}
								{#	});#}
								{#});#}

								//获取dom容器
								var myChart = echarts.init(document.getElementById('chartmain'));
								// 使用刚指定的配置项和数据显示图表。
								myChart.setOption(option);
						//};
					</script>
{#                    <span class="border_bg_leftTop"></span>#}
{#                    <span class="border_bg_rightTop"></span>#}
{#                    <span class="border_bg_leftBottom"></span>#}
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        	<div class="leftMain_middle_right">
            	<div class="leftMain_middle_rightIn">
                	<h3>热门竞赛一等奖获奖占比</h3>
                    <div class="biaoge biaoge_pai" style="width:100%; height:30vh">
                    	<div class="biaoge_paiIn">
                        	<ul>
                            	<li>
                                	<div class="liIn">
                                    	<div class="liIn_left"><span class="bot"></span><span class="zi">蓝桥杯省赛</span></div>
                                        <div class="liIn_line"><div class="line_lineIn" style="width:{{ lq_pro_first_rate }}%;"></div></div>
                                        <p class="num">{{ lq_pro_first_rate }}%</p>
                                    </div>
                                </li>
                             	<li>
                                	<div class="liIn liIn2">
                                    	<div class="liIn_left"><span class="bot"></span><span class="zi">蓝桥杯国赛</span></div>
                                        <div class="liIn_line"><div class="line_lineIn" style="width:{{ lq_con_first_rate }}%;"></div></div>
                                        <p class="num">{{ lq_con_first_rate }}%</p>
                                    </div>
                                </li>
                            	<li>
                                	<div class="liIn liIn3">
                                    	<div class="liIn_left"><span class="bot"></span><span class="zi">数学竞赛国赛</span></div>
                                        <div class="liIn_line"><div class="line_lineIn" style="width:{{ sx_con_first_rate }}%;"></div></div>
                                        <p class="num">{{ sx_con_first_rate }}%</p>
                                    </div>
                                </li>
                            	<li>
                                	<div class="liIn liIn4">
                                    	<div class="liIn_left"><span class="bot"></span><span class="zi">MathorCup数模</span></div>
                                        <div class="liIn_line"><div class="line_lineIn" style="width:{{ mc_con_first_rate }}%;"></div></div>
                                        <p class="num">{{ mc_con_first_rate }}%</p>
                                    </div>
                                </li>
                            	<li>
                                	<div class="liIn liIn5">
                                    	<div class="liIn_left"><span class="bot"></span><span class="zi">省数学竞赛</span></div>
                                        <div class="liIn_line"><div class="line_lineIn" style="width:{{ sx_pro_first_rate }}%;"></div></div>
                                        <p class="num">{{ sx_pro_first_rate }}%</p>
                                    </div>
                                </li>
                            	<li>
                                	<div class="liIn liIn6">
                                    	<div class="liIn_left"><span class="bot"></span><span class="zi">省物理竞赛</span></div>
                                        <div class="liIn_line"><div class="line_lineIn" style="width:{{ wl_pro_first_rate }}%;"></div></div>
                                        <p class="num">{{ wl_pro_first_rate }}%</p>
                                    </div>
                                </li>
                           </ul>
                        </div>
                    </div>
{#                    <span class="border_bg_leftTop"></span>#}
{#                    <span class="border_bg_rightTop"></span>#}
{#                    <span class="border_bg_leftBottom"></span>#}
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        </div>
        <div class="leftMain_middle">
        	<div class="leftMain_middle_left">
            	<div class="leftMain_middle_leftIn">
                	<h3>不同年级竞赛获奖情况</h3>
                    <div class="biaoge" style="width:100%; height:25vh" id="chartmain_zhe"></div>
                    <script type="text/javascript">
					//window.onload = function (){
								//指定图表的配置项和数据

					option = {
						title: {
							text: ''
						},
						tooltip: {
							trigger: 'axis'
						},
						legend: {
							textStyle: {
								color: '#fff',
								fontSize: 10,
							},
							right:'5%',
							data: ['A类竞赛获奖', 'B类竞赛获奖','C类竞赛获奖','国赛获奖','省赛获奖']
						},
						grid:{
								x:40,
								y:40,
								x2:20,
								y2:20,
							},
						toolbox: {
							feature: {
								//saveAsImage: {}
							}
						},
						xAxis: {
							type: 'category',
							boundaryGap: false,
							axisLabel: {
											/*inside: true,*/
											interval:0,
											textStyle: {
												color: '#fff',
												fontSize: 12

											}
										},
										axisTick: {
											show: false,
										},
										axisLine: {
											show: true,
											symbol:['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#fff',
											}
										},
							data:['     ','大学一年级', '大学二年级','大学三年级','大学四年级',"   "]
						},
						yAxis: {
							type: 'value',

							axisLine: {
								show: true,
								symbol: ['none', 'arrow'],
								symbolOffset: 12,
								lineStyle:{
									color: '#fff',
								}
							},
							axisTick: {
								show: false
							},
							axisLabel: {
								textStyle: {
									color: '#fff',
									fontSize: 12
								}
							}
						},
						series: [
							{
								name: 'A类竞赛获奖',
								type: 'line',
								data: [0, {{ all_Grade_win_a_num[4] }}, {{ all_Grade_win_a_num[3] }},{{ all_Grade_win_a_num[2]}},
                                          {{ all_Grade_win_a_num[1] }},0],
								itemStyle: {
									 normal: {
									   color: "#0efdff",//折线点的颜色
									   lineStyle: {
									   color: "#0efdff",//折线的颜色
									   width:2,
									  }
									},
								}
							},
							{
								name: 'B类竞赛获奖',
								type: 'line',
								data: [0, {{ all_Grade_win_b_num[4] }}, {{ all_Grade_win_b_num[3] }},{{ all_Grade_win_b_num[2]}},
                                          {{ all_Grade_win_b_num[1] }},0],
                                itemStyle: {
									 normal: {
									   color: "#CE0000",//折线点的颜色
									   lineStyle: {
									   color: "#CE0000",//折线的颜色
									   width:2,
									  }
									},
								}
							},
                            {
								name: 'C类竞赛获奖',
								type: 'line',
								data: [0, {{ all_Grade_win_c_num[4] }}, {{ all_Grade_win_c_num[3] }},{{ all_Grade_win_c_num[2]}},
                                          {{ all_Grade_win_c_num[1] }},0],
                                itemStyle: {
									 normal: {
									   color: "#f9f390",//折线点的颜色
									   lineStyle: {
									   color: "#f9f390",//折线的颜色
									   width:2,
									  }
									},
								}
							},
                            {
								name: '省赛获奖',
								type: 'line',
								data: [0, {{ all_Grade_win_pro_num[4] }}, {{ all_Grade_win_pro_num[3] }},{{ all_Grade_win_pro_num[2]}},
                                          {{ all_Grade_win_pro_num[1] }},0],
                                itemStyle: {
									 normal: {
									   color: "#F88CFBFF",//折线点的颜色
									   lineStyle: {
									   color: "#F88CFBFF",//折线的颜色
									   width:2,
									  }
									},
								}

							},
                            {
								name: '国赛获奖',
								type: 'line',
								data: [0, {{ all_Grade_win_con_num[4] }}, {{ all_Grade_win_con_num[3] }},{{ all_Grade_win_con_num[2]}},
                                          {{ all_Grade_win_con_num[1] }},0],
                                itemStyle: {
									 normal: {
									   color: "#FFA500",//折线点的颜色
									   lineStyle: {
									   color: "#FFA500",//折线的颜色
									   width:2,
									  }
									},
								}
							}
						]
					};
								//获取dom容器
								var myChart = echarts.init(document.getElementById('chartmain_zhe'));
								// 使用刚指定的配置项和数据显示图表。
								myChart.setOption(option);
						//};
					</script>
{#                    <span class="border_bg_leftTop"></span>#}
{#                    <span class="border_bg_rightTop"></span>#}
{#                    <span class="border_bg_leftBottom"></span>#}
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        	<div class="leftMain_middle_right">
            	<div class="leftMain_middle_rightIn">
                	<h3></h3>
                    <div class="biaoge biaoge_bi" style="width:100%; height:20vh">
                    	<ul>
                        	<li>
                            	<div class="liIn">
                                	<p class="shu shu1">{{ a_num }}</p>
                                    <p class="zi">上学期共获A类奖项</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="liIn">
                                	<p class="shu shu2">{{ b_con_num }}</p>
                                    <p class="zi">上学期共获国家级B类奖项</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="liIn">
                                	<p class="shu shu3">{{ c_con_num }}</p>
                                    <p class="zi">上学期共获国家级C类奖项</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="liIn">
                                	<p class="shu shu4">{{ stall_num }}</p>
                                    <p class="zi">上学期竞赛获奖人数</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="liIn">
                                	<p class="shu shu5">{{ all_num }}</p>
                                    <p class="zi">上学期竞赛共获奖项</p>
                                </div>
                            </li>
                        	<li>
                            	<div class="liIn">
                                	<p class="shu shu6">{{ all_pat_par_num }}</p>
                                    <p class="zi">上学期专利论文总数</p>
                                </div>
                            </li>
                        </ul>

                    </div>
{#                    <span class="border_bg_leftTop"></span>#}
{#                    <span class="border_bg_rightTop"></span>#}
{#                    <span class="border_bg_leftBottom"></span>#}
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="rightMain">
        <div class="rightMain_top">
            <div class="rightMain_topIn">
                <h3>各专业竞赛获奖占比</h3>
                <div class="biaoge" style="width:100%; height:35vh" id="chartmain_bing"></div>
                <script type="text/javascript">
					option = {
						title: {
							text: '数据情况统计',
							subtext: '',
							left: 'right',
							textStyle: {
								color: '#fff',
								fontSize: 12
							}
						},
						tooltip: {
							trigger: 'item',
							formatter: '{a} <br/>{b} : {c} ({d}%)'
						},
						legend: {
							// orient: 'vertical',
							// top: 'middle',
							type: 'scroll',
							orient: 'vertical',
							right: 10,
							top: 40,
							bottom: 10,
							left: 'right',
							data: ['信安', '计科', '软件', '智科', '物联网','网络','图灵班','硕士'],
							textStyle: {
								color: '#fff',
								fontSize: 15
							}

						},
						grid:{
							x:'-10%',
							y:40,
							x2:20,
							y2:20,
						},
						color : [ '#09d0fb', '#f88cfb', '#95f8fe', '#f9f390',  '#ecfeb7', '#f9f391','#09d0fa','#f9f398'],
						series: [
							{
								type: 'pie',
								radius: '50%',
								center: ['45%', '50%'],
								selectedMode: 'single',
								data: [
									{value: {{ cst_num }}, name: '计科',

							},
									{value: {{ is_num }}, name: '信安'},
                                    {value: {{ si_num }}, name: '软件'},
									{value: {{ iot_num }}, name: '物联网'},
                                    {value: {{ ist_num }}, name: '智科'},
									{value: {{ ii_num }}, name: '网络'},
                                    {value: {{ gs_num }}, name: '硕士'},
                                    {value: {{ tl_num }}, name: '图灵班'},
								],
								emphasis: {
									itemStyle: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};
                //获取dom容器
								var myChart = echarts.init(document.getElementById('chartmain_bing'));
								// 使用刚指定的配置项和数据显示图表。
								myChart.setOption(option);

                </script>
{#                <span class="border_bg_leftTop"></span>#}
{#                <span class="border_bg_rightTop"></span>#}
{#                <span class="border_bg_leftBottom"></span>#}
                <span class="border_bg_rightBottom"></span>
            </div>
         </div>
        <div class="rightMain_bottom">
            <div class="rightMain_bottomIn">
                <h3>竞赛荣誉榜</h3>
                <div class="biaoge biaoge_list" style="width:100%; height:46vh">
                	<div class="biaoge_listIn">
                    	<ul class="ul_title">
                        	<li>姓名</li>
                            <li>奖项数</li>
                            <li>三等奖项数</li>
                            <li>省赛奖项数</li>
                            <li>国赛奖项数</li>
                        </ul>
                        <div class="ul_list">
                        	<div class="ul_listIn">
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[0] }}</li>
                                    <li>{{ all_pio_win_all_num[0] }}</li>
                                    <li>{{ all_pio_win_tir_num[0] }}</li>
                                    <li>{{ all_pio_win_pro_num[0] }}</li>
                                    <li>{{ all_pio_win_con_num[0] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[1] }}</li>
                                    <li>{{ all_pio_win_all_num[1] }}</li>
                                    <li>{{ all_pio_win_tir_num[1] }}</li>
                                    <li>{{ all_pio_win_pro_num[1] }}</li>
                                    <li>{{ all_pio_win_con_num[1]}}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[2] }}</li>
                                    <li>{{ all_pio_win_all_num[2] }}</li>
                                    <li>{{ all_pio_win_tir_num[2] }}</li>
                                    <li>{{ all_pio_win_pro_num[2] }}</li>
                                    <li>{{ all_pio_win_con_num[2] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[3] }}</li>
                                    <li>{{ all_pio_win_all_num[3] }}</li>
                                    <li>{{ all_pio_win_tir_num[3] }}</li>
                                    <li>{{ all_pio_win_pro_num[3] }}</li>
                                    <li>{{ all_pio_win_con_num[3] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[4] }}</li>
                                    <li>{{ all_pio_win_all_num[4] }}</li>
                                    <li>{{ all_pio_win_tir_num[4] }}</li>
                                    <li>{{ all_pio_win_pro_num[4] }}</li>
                                    <li>{{ all_pio_win_con_num[4] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[5] }}</li>
                                    <li>{{ all_pio_win_all_num[5] }}</li>
                                    <li>{{ all_pio_win_tir_num[5] }}</li>
                                    <li>{{ all_pio_win_pro_num[5] }}</li>
                                    <li>{{ all_pio_win_con_num[5] }}</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>{{ all_pio_name[6] }}</li>
                                    <li>{{ all_pio_win_all_num[6] }}</li>
                                    <li>{{ all_pio_win_tir_num[6] }}</li>
                                    <li>{{ all_pio_win_pro_num[6] }}</li>
                                    <li>{{ all_pio_win_con_num[6] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[7] }}</li>
                                    <li>{{ all_pio_win_all_num[7] }}</li>
                                    <li>{{ all_pio_win_tir_num[7] }}</li>
                                    <li>{{ all_pio_win_pro_num[7] }}</li>
                                    <li>{{ all_pio_win_con_num[7] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[8] }}</li>
                                    <li>{{ all_pio_win_all_num[8] }}</li>
                                    <li>{{ all_pio_win_tir_num[8] }}</li>
                                    <li>{{ all_pio_win_pro_num[8] }}</li>
                                    <li>{{ all_pio_win_con_num[8] }}</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>{{ all_pio_name[9] }}</li>
                                    <li>{{ all_pio_win_all_num[9] }}</li>
                                    <li>{{ all_pio_win_tir_num[9] }}</li>
                                    <li>{{ all_pio_win_pro_num[9] }}</li>
                                    <li>{{ all_pio_win_con_num[9] }}</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>{{ all_pio_name[10] }}</li>
                                    <li>{{ all_pio_win_all_num[10] }}</li>
                                    <li>{{ all_pio_win_tir_num[10] }}</li>
                                    <li>{{ all_pio_win_pro_num[10] }}</li>
                                    <li>{{ all_pio_win_con_num[10] }}</li>
                                </ul>
                                 <ul class="ul_con">
                                    <li>{{ all_pio_name[11] }}</li>
                                    <li>{{ all_pio_win_all_num[11] }}</li>
                                    <li>{{ all_pio_win_tir_num[11] }}</li>
                                    <li>{{ all_pio_win_pro_num[11] }}</li>
                                    <li>{{ all_pio_win_con_num[11] }}</li>
                                </ul>
                                <ul class="ul_con">
                                    <li>{{ all_pio_name[12] }}</li>
                                    <li>{{ all_pio_win_all_num[12] }}</li>
                                    <li>{{ all_pio_win_tir_num[12] }}</li>
                                    <li>{{ all_pio_win_pro_num[12] }}</li>
                                    <li>{{ all_pio_win_con_num[12] }}</li>
                                </ul>
                            </div>
                       </div>
                   </div>

                </div>
{#                <span class="border_bg_leftTop"></span>#}
{#                <span class="border_bg_rightTop"></span>#}
{#                <span class="border_bg_leftBottom"></span>#}
                <span class="border_bg_rightBottom"></span>
            </div>
         </div>
    </div>
          <ul >
     <li>
         <a href="http://127.0.0.1:5000/fifth" class="color">切换主题</a>
         <a href="http://127.0.0.1:5000/fourth_school" class="color">进入学校汇赛</a>
          <a href="http://127.0.0.1:5000/show_college" class="color">生成分析报告</a>
     </li>
   </ul>
    <div style="clear:both;"></div>
</div>
<!--数字增长累加动画-->
<script src="../../static/js/static/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="../../static/js/static/jquery.numscroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".shu1").numScroll();
	$(".shu2").numScroll();
	$(".shu3").numScroll();
	$(".shu4").numScroll();
	$(".shu5").numScroll();
	$(".shu6").numScroll();

	/*$(".num2").numScroll({
		time:5000
	});*/
</script>

</body>
</html>
