<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sara mazal lessons">
    <meta name="keywords" content="HTML, CSS, JavaScript, mazal, icons">
</head>
<body>
    <!-- 其他页面内容 -->

    <script>
        // 获取 flag 值
        var flag = "{{ flag }}";

        // 根据 flag 值显示不同的内容
        if (flag === '1') {
            alert('Done.');
        } else {
            alert('You have already got a sql!');
        }
    </script>
</body>
</html>
